body{
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}
header{
    background-color: rgb(36, 109, 27);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1, h2{
    font-family: 'Gloria Hallelujah', cursive;
}
header h1{
    color:tomato;
    font-size: 50px;
}
header img{
    border-radius: 170px;
    width:300px;
    border: 20px solid goldenrod;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
main img{
    max-width: 100%;
}
h2{
    font-size: 35px;
    color:rgb(36, 109, 27);
    margin: 40px 0 10px;
}
a{
    color:tomato
}
a:hover{
    color: rgb(36, 109, 27);
    background-color: goldenrod;
}
footer{
    background-color: rgb(36, 109, 27);
    text-align: center;
    color:tomato;
    padding: 50px
}
footer p{
    margin: 0;
}
p.caption{
    color: #999999;
    font-style: italic;
    margin: 0;
}